    <!DOCTYPE html>
<html lang="ja" data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <title>Staticle My portfolio</title>
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li style="font-family: Inter; font-size: 80px;"><strong>Staticle</strong></li>
            </ul>
            <ul style="font-family: Inter; font-weight: bold;">
                
                <li><a href="#about-me">About me</a></li>
                <li><a href="#">Blog (作成中)</a></li>
                <li><button id="theme-toggle-button" class="contrast">Theme</button></li>
            </ul>
        </nav>

        <section style="font-family:Noto Sans JP, Inter;">

            <div class="hero-section">
            <p style="font-size: 50px; font-weight: bolder">AIとペン先から、未来のWebを紡ぐ。<br>思考の跡が、デジタルの美を際立たせる。<br>Staticle</p>
            </div>

            <h2 style="border-bottom: 5px solid; border-color:lightsteelblue; display: inline-block;">About me</h2>
                <div class="about me" style="display: flex; align-items: center; gap: 100px; text-align: left;">
                    <div class="content" id="about-me">

                        <hgroup>
                            <h3>Hiroto Furugen</h3>
                            <p>Internship student ( Designer / Developer / Writer ) B2</p>
                        </hgroup>
                        <div class="social-links" style="display: flex; gap: 10px;">
                            <a href="https://www.linkedin.com/in/大翔-古堅-43b517340" target="_blank">LinkedIn</a>
                            <a href="https://github.com/genfuru011" target="_blank">GitHub</a>
                            <a href="https://www.instagram.com/hiro_film0119/" target="_blank">Instagram</a>
                        </div>

                        <h3 style="border-bottom: 5px solid; border-color:lightsteelblue; display: inline-block; margin-top: 40px;">Projects</h3>

                        <div class="grid" style="text-align: center; justify-content: center; align-items: center;">
                           <div><h3>In Progress</h3></div>
                           <div><h3>In Progress</h3></div>
                        </div>

                        <h3 style="border-bottom: 5px solid; border-color:lightsteelblue; display: inline-block; margin-top: 40px;">Introduce</h3>
                        <p>私はデザイン、開発、ライティングに情熱を持つインターンシップ生です。新しい技術やアイデアを学びながら、クリエイティブなプロジェクトに取り組んでいます。</p>

                        <h3 style="border-bottom: 5px solid; border-color:lightsteelblue; display: inline-block;">Bio</h3>
                        <p>2005  Born in chiba (千葉県生まれ), Greater Tokyo, Japan.</p>
                        <p>2024 to present  Hosei University (法政大学), Bachelor of Arts (学士).</p>
                        <p>2024 to present  Internship at GMO Internet group.inc, GMO NIKKO,<br>(Web/graphic designer,Marketing planner).</p>

                        <h3 style="border-bottom: 5px solid; border-color:lightsteelblue; display: inline-block;">Skills</h3>
                        <ul>
                            <li>Web Design (figma)</li>
                            <li>Graphic Design (Adobe Illustrator, Photoshop)</li>
                            <li>Marketing Planning (市場調査、戦略立案)</li>
                            <li>Front-end Development (HTML, CSS)</li>
                            <li>Back-end Development (Python, Flask)</li>
                            <li>AI Integration (ChatGPT, Google Apps Script, LLM Tuning SFT DPO)</li>
                        </ul>
                            
                    </div>
                </div>
            
        </section>
    </main>

    <footer class="container">
        <hr>
        <p><small>&copy; 2025 Hiroto Furugen</small></p>
    </footer>
　　
    <script src="/static/js/theme.js"></script>


</body>
</html>