 <!DOCTYPE html>
<html lang="ja" data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
　　

    <title>Staticle My portfolio</title>
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li style="font-family: Inter; font-size: 80px;"><strong>Staticle</strong></li>
            </ul>
            <ul style="font-family: Inter; font-weight: bold;">

                <li><a href="#about-me">About me</a></li>
                <li><a href="#">Blog (作成中)</a></li>
                <li><button id="theme-toggle-button" class="contrast">Theme</button></li>
            </ul>
        </nav>

        <br>
        <br>

